body {
    background-color: WhiteSmoke;
}


.form-control {
    max-width: 500px;
    padding: 5px;

}

.text {
    color: WhiteSmoke;
    font-size: large;
}

.container {
    padding: 20px;

}


.container-fluid{
    box-sizing: border-box;
    border-style: solid 2px;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1  {width: 40;}
.col-2  {width: 60;}

table, th, td{
    border: 1px solid black;
    width: auto;

}
.table table-hover{

}
.row_button{
    float: right;
}

.dropbtn {
    color: WhiteSmoke;
    background: #343a40;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #d5d9e0
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: gray;
}