{% extends "index.html" %}
{% set page_id = 'products' %}
{% block title %}Products{%endblock%}

{% block content %}
<div id="Stock" class="searchdiv">
      <div class="searchbox">
          <form action="/stock" method="get">
            <div class="checkboxdiv">

                <label class="checkbox"> All
                  <input type="radio" checked="checked" name="searchrange" value="all">
                  <span class="checkmark"></span>
                </label>
                <label class="checkbox"> ID
                  <input type="radio" name="searchrange" value="id">
                  <span class="checkmark"></span>
                </label>
                <label class="checkbox"> Name
                  <input type="radio" name="searchrange" value="name">
                  <span class="checkmark"></span>
                </label>
                <label class="checkbox"> Group
                  <input type="radio" name="searchrange" value="group">
                  <span class="checkmark"></span>
                </label>

            </div>
            <div class="searchinput">
                <input type="text" name="query" placeholder="Search">
                <input type="submit" value="Search">
            </div>
          </form>
      </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="stockcol">#</th>
          <th scope="stockcol">Name</th>
          <th scope="stockcol">Group</th>
          <th scope="stockcol">Quantity</th>
          <th scope="stockcol">Price</th>
        </tr>

        {% if searched_products %}
          {% for product in searched_products %}
            <tr>
              <th scope="stockcol">{{product.id}}</th>
              <th scope="stockcol">{{product.name}}</th>
              <th scope="stockcol">{{product.group}}</th>
              <th scope="stockcol">{{product.quantity}}</th>
              <th scope="stockcol">{{product.price}}</th>
          {% endfor %}
        {% else %}
          {% for product in products %}
            <tr>
              <th scope="stockcol">{{product.id}}</th>
              <th scope="stockcol">{{product.name}}</th>
              <th scope="stockcol">{{product.group}}</th>
              <th scope="stockcol">{{product.quantity}}</th>
              <th scope="stockcol">{{product.price}}</th>
          {% endfor %}
        {% endif %}
        </tr>
      </thead>
    </table>

</div>

{% endblock %}