{% extends "index.html" %}
{% set page_id = 'products' %}
{% block title %}Products{%endblock%}

{% block content %}
<div id="stock" class=""container-fluid"">
    <div class="header">
        Maybe something useful will come to mind.

    </div>
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8" id="stock_display">

            <table class="table table-hover" id="stock_table">

            </table>

        </div>
        <div class="col-sm-2">

        </div>




    </div>


</div>

<script>
var stock = {{ searched_products|tojson }};
var columnThead = {{ products_columns|tojson }}
document.getElementById('stock_table').innerHTML = newTable(stock, columnThead);


function newTable(list1, list2) {
    var tableCreate = '<table>';
    tableCreate += '<tr>';
    for (var th in list2.Columns){
        tableCreate += '<th>' + list2.Columns[th] + '</th>';
    }
    tableCreate += '</tr>';
    for (var x in list1.Products){
        tableCreate += '<tr>';
        for (var y in list1.Products[x].columns){
            tableCreate += '<td>' + list1.Products[x].columns[y] + '</td>';
        }
        tableCreate += '</tr>';

    }
    tableCreate += '</table>';
    return tableCreate;
}

</script>

{% endblock %}