{% extends "index.html" %}
{% set page_id = 'products' %}
{% block title %}Products{%endblock%}

{% block content %}
<div id="Stock" class="searchdiv">
      <div class="searchbox">
        <div class="checkboxdiv">
          <form action="/stock" method="get">
            <label class="checkbox"> All
              <input type="checkbox" checked="checked" name="searchrange" value="all">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox"> ID
              <input type="checkbox" name="searchrange" value="id">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox"> Name
              <input type="checkbox" name="searchrange" value="name">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox"> Group
              <input type="checkbox" name="searchrange" value="group">
              <span class="checkmark"></span>
            </label>
          </form>
        </div>
        <div class="searchinput">
          <form action="/stock" method="get">
            <input type="text" name="query" placeholder="Search">
            <input type="submit" value="Search">
          </form>
        </div>
       </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="stockcol">#</th>
          <th scope="stockcol">Name</th>
          <th scope="stockcol">Group</th>
          <th scope="stockcol">Quantity</th>
          <th scope="stockcol">Price</th>
        </tr>
        {% if searched_products %}
          {% for product in searched_products %}
            <tr>
              <th scope="stockcol">{{product.id}}</th>
              <th scope="stockcol">{{product.name}}</th>
              <th scope="stockcol">{{product.group}}</th>
              <th scope="stockcol">{{product.quantity}}</th>
              <th scope="stockcol">{{product.price}}</th>
          {% endfor %}
        {% else %}
          {% for product in products %}
            <tr>
              <th scope="stockcol">{{product.id}}</th>
              <th scope="stockcol">{{product.name}}</th>
              <th scope="stockcol">{{product.group}}</th>
              <th scope="stockcol">{{product.quantity}}</th>
              <th scope="stockcol">{{product.price}}</th>
          {% endfor %}
        {% endif %}
        </tr>
      </thead>
    </table>

</div>

{% endblock %}